<div class="delete">
  <form action="/tiendas/delete/{{_id}}" method="POST">
    <p>No me quiero ir señor stark :(</p>
    <p> Estás seguro que desear borrar {{nombre}} ?</p>
    <button type="submit">Alv</button>
  </form>
</div>